{% extends "base.html" %}
{% block main %}
<h1 class="text-center">{{ title }}</h1>

<body>

    <div name="container1" class="container">
        <form action="" method="POST" class="needs-validation" novalidate>
            {{ form.hidden_tag() }}

            <div class="form-floating mb-3">
                {{ form.mail(class_="form-control") }}
                {{ form.mail.label(class_="form-label") }}
            </div>

            {% if form.mail.errors %}

            <div class="alert alert-danger mb-3">
                {{ form.mail.errors[0] }}
            </div>

            {% endif %}

            <div class="form-check form-switch mb-3">
                {{ form.mailDeSuivi(class_="form-check-input") }}
                {{ form.mailDeSuivi.label(class_="form-check-label") }}
            </div>

            <div class="mb-3">
                {{ form.batiment.label(class_="form-label") }}
                {{ form.batiment(class_="form-select") }}
            </div>

            {% if form.batiment.errors %}

            <div class="alert alert-danger mb-3">
                {{ form.batiment.errors[0] }}
            </div>

            {% endif %}

            <div class="mb-3">
                <div class="row">
                    <div class="col mb-3">
                        {{ form.salle.label(class_="form-label") }}
                        {{ form.salle(class_="form-select") }}
                    </div>

                    <div class="col mb-3">
                        {{ form.materiel.label(class_="form-label") }}
                        {{ form.materiel(class_="form-select")}}
                    </div>
                </div>

                {% if form.salle.errors %}

                <div class="alert alert-danger mb-3">
                    {{ form.salle.errors[0] }}
                </div>
    
                {% endif %}
            </div>

            <div class="form-floating mb-3">
                {{ form.probleme(class_="form-control") }}
                {{ form.probleme.label(class_="form-label") }}

            </div>

            {% if form.probleme.errors %}

            <div class="alert alert-danger mb-3">
                {{ form.probleme.errors[0] }}
            </div>

            {% endif %}

            <div class="mb-3">
                {{ form.priorite.label(class_="form-label")}}
                {{ form.priorite(class_="form-select")}}
            </div>

            {% if form.priorite.errors %}

            <div class="alert alert-danger mb-3">
                {{ form.priorite.errors[0] }}
            </div>

            {% endif %}

            <div class="form-floating mb-3">
                {{ form.desc(class_="form-control") }}
                {{ form.desc.label(class_="form-label") }}
            </div>


            <div class="mb-3">
                <label for="formFile" class="ajoutphoto"><strong>Ajoutez une photo</strong></label>
                <input class="form-control" type="file" id="formFile">
            </div>

            <div class="mb-3">
                {{ form.envoyer(class_="btn btn-primary") }}
                {{ form.reset(class_="btn btn-danger ")}}
            </div>

        
        </form>

        <script>
            let batiment_select = document.getElementById("batiment");
            let salle_select = document.getElementById("salle");
            let materiel_select = document.getElementById("materiel");

            batiment_select.onchange = async function(){
                try
                {
                    batiment = batiment_select.value;
                    const response = await fetch("/api/get/locations/" + batiment);
                    console.log(response.status)
                    if (!response.ok){
                        throw new Error(response.text)
                    }
                    const salles = await response.json();
                    let optionHTML = "";
                    for (let id in salles){
                        optionHTML += '<option value="' + id + '">' + salles[id] + '</option>'; 
                    }
                    salle_select.innerHTML = optionHTML;
                }
                catch (error)
                {
                    console.error(error)
                }
            }

            salle_select.onchange = async function(){
                try
                {
                    salle = salle_select.value;
                    const response = await fetch("/api/get/computers/" + salle);
                    console.log(response.status)
                    if (!response.ok){
                        throw new Error(response.text)
                    }
                    const computers = await response.json();
                    let optionHTML = "";
                    for (let id in computers){
                        optionHTML += '<option value="' + computers[id] + '">' + computers[id] + '</option>'; 
                    }
                    materiel_select.innerHTML = optionHTML;
                }
                catch (error)
                {
                    console.error(error)
                }
            }

        </script>
    </div>

</body>
{% endblock %}