{% extends "base.html" %}
{% block main %}
<h1 class="text-center">{{ title }}</h1>

<body>

    <div name="container1" class="container">
        <form action="" method="POST" class="needs-validation" novalidate>
            {{ form.hidden_tag() }}

            <div class="form-floating mb-3">
                {{ form.mail(class_="form-control") }}
                {{ form.mail.label(class_="form-label") }}
            </div>

            {% if form.mail.errors %}

            <div class="alert alert-danger mb-3">
                {{ form.mail.errors[0] }}
            </div>

            {% endif %}

            <div class="form-check form-switch mb-3">
                {{ form.mailDeSuivi(class_="form-check-input") }}
                {{ form.mailDeSuivi.label(class_="form-check-label") }}
            </div>

            <div class="mb-3">
                {{ form.batiment.label(class_="form-label") }}
                {{ form.batiment(class_="form-select") }}
            </div>

            {% if form.batiment.errors %}

            <div class="alert alert-danger mb-3">
                {{ form.batiment.errors[0] }}
            </div>

            {% endif %}

            <div class="col mb-3">
                {{ form.salle.label(class_="form-label") }}
                {{ form.salle(class_="form-select") }}
            </div>

            {% if form.salle.errors %}

            <div class="alert alert-danger mb-3">
                {{ form.salle.errors[0] }}
            </div>

            {% endif %}
            

            <div class="mb-3">
                <div class="row">
                    <div class="col">
                        {{ form.type_materiel.label(class_="form-label") }}
                        {{ form.type_materiel(class_="form-select") }}
                    </div>

                    <div class="col">
                        {{ form.materiel.label(class_="form-label") }}
                        {{ form.materiel(class_="form-select")}}
                    </div>
                </div>
            </div>

            <div class="mb-3">
                {{ form.probleme.label(class_="form-label") }}
                {{ form.probleme(class_="form-select") }}
            </div>

            {% if form.probleme.errors %}

            <div class="alert alert-danger mb-3">
                {{ form.probleme.errors[0] }}
            </div>

            {% endif %}

            <div class="mb-3">
                {{ form.priorite.label(class_="form-label")}}
                {{ form.priorite(class_="form-select")}}
            </div>

            {% if form.priorite.errors %}

            <div class="alert alert-danger mb-3">
                {{ form.priorite.errors[0] }}
            </div>

            {% endif %}

            <div class="form-floating mb-3">
                {{ form.desc(class_="form-control") }}
                {{ form.desc.label(class_="form-label") }}
            </div>
<!-- 
            <div class="mb-3">
                <label for="formFile" class="ajoutphoto"><strong>Ajoutez une photo</strong></label>
                <input class="form-control" type="file" id="formFile">
            </div> -->

            <div class="mb-3">
                {{ form.envoyer(class_="btn btn-primary") }}
                {{ form.reset(class_="btn btn-danger ")}}
            </div>

        
        </form>

        <script>
            let batiment_select = document.getElementById("batiment");
            let salle_select = document.getElementById("salle");
            let materiel_select = document.getElementById("materiel");
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            let batiment_input = urlParams.get('batiment');
            let type_materiel_input = urlParams.get('type');
            let salle_input = urlParams.get('salle');
            let materiel_input = urlParams.get('materiel');
            foundBat_input(batiment_input)
            foundTypeMat(type_materiel_input)
            

            function foundBat_input(batiment_input){
                for(let selector of document.getElementById("batiment")){
                    if(selector.value == batiment_input){
                        selector.setAttribute("selected",true);
                    }
                }
            }


            let type_materiel_select = document.getElementById("type_materiel");
            let probleme_select = document.getElementById("probleme");


            function foundTypeMat(type_materiel_input){
                for(let selector of document.getElementById("type_materiel")){
                    if(selector.value == type_materiel_input){
                        selector.setAttribute("selected",true);
                    }
                }
            }

            const problemes = {
                "Monitor" : ["Problème d'affichage", "Ne s'allume pas", "Est dégradé"],
                "Computer" : ["Ne démarre pas", "Problème de son",  "Cable manquant", "Matériel manquant"],
                "Printer" : ["Ne démarre pas", "Plus d'encre", "Papier manquant", "Bourrage papier", "Ne marche pas"]
            }


            async function getSalles(){
                try
                {
                    
                    batiment = batiment_select.value;
                    const response = await fetch("/api/get/locations/" + batiment);
                    if (!response.ok){
                        throw new Error(response.text)
                    }
                    const salles = await response.json();
                    let optionHTML = "";
                    for (let id in salles){
                        if((salle_input != null) && (salle_input == id)){
                            optionHTML += '<option value="'+ id +'"selected>' + salles[id] + '</option>'
                        }else{
                            optionHTML += '<option value="' + id + '">' + salles[id] + '</option>'; 
                        }
                    }
                    salle_select.innerHTML = optionHTML;
                    if (salle_select.value != ""){
                        setProblemeMateriel();
                    } else {
                        resetField(materiel_select);
                    }
                }
                catch (error)
                {
                    console.error(error)
                }
            }

            function resetField(field){
                field.innerHTML = "<option value = '' hidden></options>";
            }

            async function getMateriel(){
                try
                {
                    salle = salle_select.value;
                    if (salle.value != ""){
                        let type = type_materiel_select.value;
                        const response = await fetch("/api/get/" + type.toLowerCase() + "s/" + salle);
                        if (!response.ok){
                            throw new Error(response.text)
                        }
                        const materiels = await response.json();
                        let optionHTML = "<option value = '' hidden></option>";
                        for (let id in materiels){
                            console.log(materiel_input, id)
                            if (materiel_input == materiels[id]){;
                                optionHTML += '<option value="' + materiels[id] + '"selected>' + materiels[id] + '</option>'; 
                            } else {
                                optionHTML += '<option value="' + materiels[id] + '">' + materiels[id] + '</option>'; 
                            }
                        }
                        materiel_select.innerHTML = optionHTML;
                    }
                }
                catch (error)
                {
                    console.error(error)
                }
            }

            function getProbleme(){

                if (type_materiel_select.value != ""){
                    let optionHTML = "";
                    for (let probleme of problemes[type_materiel_select.value]){
                        optionHTML += '<option value="' + probleme + '">' + probleme + '</option>'; 
                    }
                    probleme_select.innerHTML = optionHTML;
                }
            }

            function setProblemeMateriel(){
                getMateriel();
                getProbleme();
            }

            getSalles();
            batiment_select.onchange = getSalles;

            salle_select.onchange = setProblemeMateriel;

            type_materiel_select.onchange = setProblemeMateriel;

        </script>
    </div>

</body>
{% endblock %}