{% extends "base.html" %}
{% block main %}

<body>

    <div name="container1" class="container">
        <form id="QRForm" action="" method="POST" class="needs-validation" novalidate>
            {{ form.hidden_tag() }}

            <div class="mb-3">
                {{ form.batiment.label(class_="form-label") }}
                {{ form.batiment(class_="form-select") }}
            </div>

            {% if form.batiment.errors %}

            <div class="alert alert-danger mb-3">
                {{ form.batiment.errors[0] }}
            </div>

            {% endif %}

            <div class="col mb-3">
                {{ form.salle.label(class_="form-label") }}
                {{ form.salle(class_="form-select") }}
            </div>

            {% if form.salle.errors %}

            <div class="alert alert-danger mb-3">
                {{ form.salle.errors[0] }}
            </div>

            {% endif %}
            

            <div class="mb-3">
                <div class="row">
                    <div class="col">
                        {{ form.type_materiel.label(class_="form-label") }}
                        {{ form.type_materiel(class_="form-select") }}
                    </div>

                    <div class="col">
                        {{ form.materiel.label(class_="form-label") }}
                        {{ form.materiel(class_="form-select")}}
                    </div>
                </div>
            </div>

            <div class="boutons">
                <button type="submit" data-toggle="tooltip" data-placement="bottom" title="Générer" id="valider" class="btn btn-primary" >Générer</button>

                {% if afficherButton %}
                    <a href=/downloadfile/{{name}} target="blank" data-toggle="tooltip" data-placement="bottom" title="afficher" id="pdf" class="btn btn-primary">Get PDF</a>
                {%endif %}
            </div>
        </form>

        {%if afficherButton %}
            <img src="{{url_for('static', filename='newqr.png')}}">
        {%endif%}

    </div>


    <script>
        let batiment_select = document.getElementById("batiment");
        let salle_select = document.getElementById("salle");
        let materiel_select = document.getElementById("materiel");

        let type_materiel_select = document.getElementById("type_materiel");

        getSalles();

        async function getSalles(){
            try
            {   
                batiment = batiment_select.value;
                const response = await fetch("/api/get/locations/" + batiment);
                if (!response.ok){
                    throw new Error(response.text)
                }
                const salles = await response.json();
                let optionHTML = "";
                for (let id in salles){
                        optionHTML += '<option value="' + id + '">' + salles[id] + '</option>'; 
                }
                salle_select.innerHTML = optionHTML;
                if (salle_select.value != ""){
                    getMateriel();
                } else {
                    resetField(materiel_select);
                }
            }
            catch (error)
            {
                console.error(error)
            }
        }

        async function getMateriel(){
            try
            {
                salle = salle_select.value;
                if (salle.value != ""){
                    let type = type_materiel_select.value;
                    const response = await fetch("/api/get/" + type.toLowerCase() + "s/" + salle);
                    if (!response.ok){
                        throw new Error(response.text)
                    }
                    const materiels = await response.json();
                    let optionHTML = "<option value = '' hidden></option>";
                    for (let id in materiels){
                            optionHTML += '<option value="' + id + '">' + materiels[id] + '</option>'; 
                    }
                    materiel_select.innerHTML = optionHTML;
                }
            }
            catch (error)
            {
                console.error(error)
            }
        }

        batiment_select.onchange = getSalles;
        type_materiel_select.onchange = getMateriel;

    </script>

</body>
{% endblock %}